.trustedBy {
    background-color: beige;
    height: 100px;
    display: flex;
    justify-content: center;
  
    .container {
      max-width: 760px;
      display: flex;
      align-items: center;
      gap: 20px;
      color: gray;
      font-weight: 500;
  
      img{
        height: 50px;
        object-fit: contain;
      }
    }
  }